<h3 >Buzzed Hacked</h3>
<div class="social-container">
  <div class="links">
    <a href="#" data-type="twitter" data-url="<%= request.original_url %>" data-description="Buzzhacked - Helping you.. Help the world" data-via="buzzhacked" class="prettySocial fa fa-twitter"></a>
    <a href="#" data-type="facebook" data-url="<%= request.original_url %>" data-title="Buzzhacked" data-description="Helping you.. Help the world" class="prettySocial fa fa-facebook"></a>
    <a href="#" data-type="googleplus" data-url="<%= request.original_url %>" data-description="Buzzhacked - Helping to get the world secure" class="prettySocial fa fa-google-plus"></a>
    <a href="#" data-type="pinterest" data-url="<%= request.original_url %>" data-description="Buzzhacked - Helping to get the world secure" data-media="http://buzzhacked.com/assets/imgs/prettySocial.png" class="prettySocial fa fa-pinterest"></a>
    <a href="#" data-type="linkedin" data-url="<%= request.original_url %>" data-title="Buzzhacked" data-description=" - Helping to get the world secure -" data-via="buzzhacked" data-media="http://buzzhacked.com/assets/imgs/prettySocial.png" class="prettySocial fa fa-linkedin"></a>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29432581-5', 'buzzhacked.com');
  ga('send', 'pageview');
</script>