<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Buzzhacked" %></title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>



    <%= csrf_meta_tags %>

  </head>

  <body>
  <nav class="menu">

    <ul class="inline-list">

      <li><%= link_to 'Home', root_path %>| </li>
      <li><%= link_to 'About', about_path %>| </li>
      <li><%= link_to 'FAQ', faq_path %>| </li>
      <li><%= link_to 'Contact', contact_path %>|</li>
    </ul>
  </nav>
<br>
    <%= yield %>

    <div id="footer">
     <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
